﻿<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Upload Master</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row" ng-show="!isView">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form role="form">
                        <div class="form-group">
                            <label>Select Country:</label>
                            <select class="form-control" style="width:50%" id="country" ng-model="country">
                                <option>India</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Select file:</label>
                            <input type="file" file-model="fileList" style="width:50%" class="form-control" multiple />
                            <p class="help-block">Select .pdf and .xls file.</p>
                        </div>
                        <button ng-click="uploadFile()" ng-disabled="!isValid" class="btn btn-default">Upload</button>
                        <br />
                        <button ng-show="loading" class="btn btn-success">
                            Uploading file Please wait...
                            <i class="fa fa-spinner fa-spin"></i>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row" ng-hide="!isView">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    File Detail
                </div>

                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-9">
                            <div class="dataTable_wrapper">
                                <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>File Name</th>
                                            <th>File Type</th>
                                            <th>Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="image in ImageLib">
                                            <td>{{$index+1}}</td>
                                            <td><a href="{{image.FileURL}}" target="_self">{{image.FileName}}</a> </td>
                                            <td><img src="{{image.ImageURL}}" width="24" height="24" /> </td>
                                            <td>
                                                <span class="label label-primary" ng-class="appliedClass(image)">
                                                    {{image.FileStatus}}
                                                    <i class="fa fa-spinner fa-spin" ng-show="image.ValidationStart"></i>
                                                </span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-9">
                            <button class="btn btn-info" ng-disabled="validationCompletes" ng-click="validation()" type="button">
                                {{validationText}}
                                <i class="fa fa-spinner fa-spin" ng-show="validationStart"></i>
                            </button>

                            <button class="btn btn-success" ng-click="uploadData()" ng-show="validationCompletes" type="button">
                                {{uploading}}
                                <i class="fa fa-spinner fa-spin" ng-show="uploadingStarts"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div>